<section id="feature">
<div class="container">
  <div class="row">

    <div class="col-md-5 col-sm-12">
      <div class="block">
        <img src="img/feature-bg.gif" alt="Img">
      </div>
    </div><!-- .col-md-5 close -->

    <div class="col-md-7 col-sm-12">
      <h2 class="text-uppercase">{{ .Site.Params.feature.title }}</h2>
      <p>
          I am currently consulting as a Unity Developer for a Project at Building 8, Facebook.
          Prior to this I was a VR software developer at YBVR where I worked on the client side of the application, built primarily using Unity 3D.<br />
          <br />
          Rapid Prototyping, candid brainstorming, and engaging interactions are what drives me to work.
          I recently graduated from USC with a masters in Computer Graphics.
          My coursework was primarily focused on applied signal processing, computer graphics, physics-based simulation and VR. <br />
          <br />
          My core focus includes :
              <li> Computer Graphics </li>
              <li> Virtual Reality /Augmented Reality /Mixed Reality </li>
              <li> Physics-based simulation </li>
              <li> Rapid Prototyping </li>
              <li> Unity 3D </li>
              <li> C++ </li>
           <br />
           Take a look at some of my works below.
      </p>
        {{ with .Site.Params.feature.button }}
      	  <a href="{{ $.Site.BaseURL }}{{ .url }}" class="btn btn-view-works ">{{ .caption }}</a>
        {{ end }}
    </div>

  </div>
</div>
</section>
