<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            <li><a href="https://drive.google.com/open?id=1UaXhnzB15ku-ncwR-NpUEfw1NkG6HwOQ" target="_blank">Resume</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by Vathsal Veena Shashidhar. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
