<!-- landing Start -->
<section id="landing">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="block text-center">
                    <h1 class="animated fadeInUp">{{ .Site.Params.landing.title1 | safeHTML }}</h1>
                    <!-- <hr class="border_style1" width="10%"> -->
                    <h2  class="animated fadeInUp">{{ .Site.Params.landing.title2 | safeHTML }}</h2>
                    <!-- <hr::after class="border_style2" width="10%"> -->
                    <p class="animated fadeInUp">{{ .Site.Params.landing.subtitle | safeHTML }}</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
              <img class="landing-img" src="img/misc/landing-bg.gif" alt="Img">
            </div>
        </div>
    </div>
</section>
