<!-- section 3 Start -->
<section id="section-3">
  <div class="container">
    <div class="row">

     <!-- text section -->
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2 style="text-align:center">{{ .Site.Params.section3.title }}</h2>
            <p style="text-align:center">
              I experience the world through <b> <a href="https://www.instagram.com/picasiovs/"> my canon lens.</a> </b> </br>
              I collect laser cut paper models of places I visit as souvenirs. </br>
              I promote every <b> <a href="https://www.instagram.com/p/BbrDCJalO3i/"> animated movie </a> </b>  as if they were produced by me. </br>
              If you find me watching Netflix, most certainly it would be a <b> <a href="https://www.youtube.com/watch?v=C7SNSWEV708"> cooking show.</a> </b> </br>
              <b> <a href="https://timothyadamschocolates.com/pages/about-us"> Timothy Adams sipping chocolate </a> </b> is my guilty pleasure. </br>
              My favorite ingredient is ginger and my favorite color is black.</br>
            </p>
          </div>
        </div>
      </div><!-- .col-md-7 close -->

    </div>
  </div>
</section>
