<!-- section 2 Start -->

<section id="Section-2">
  <div class="container">

    <div class="section-title">
      <h2 style="text-align:center">{{ .Site.Params.section2.title }}</h2>
    </br>
    </br>


    <div class="row">
      <!-- image section -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="../img/dwa.png" alt="Img">
        </div>
      </div> <!-- .col-md-5 close -->

     <!-- text section -->
      <div class="col-md-7 col-sm-12">
        <div class="block">
            <h4> Digital Fish, Inc. |  Facebook</h4>
                 EXPERIENCE ENGINEER |  MAY 2018 - PRESENT <br />
                 Menlo Park, CA <br />
                 <br />
                 While at Digital Fish, the first project I consulted on was an augmented reality project at Facebook, Building 8. I worked on the experience engineering team, which primarily worked on bridging the gap between the developers and designers by integrating the tech from the engineers and mock up’s from the designers and developing working prototypes of the experiences in Unity.  <br />
        </div>
      </div><!-- .col-md-7 close -->
    </div>





    <div class="row">
      <!-- image section -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="../img/df.png" alt="Img">
        </div>
      </div> <!-- .col-md-5 close -->

     <!-- text section -->
      <div class="col-md-7 col-sm-12">
        <div class="block">
            <h4> YBVR, Inc.</h4>
                 VR SOFTWARE DEVELOPER |  FEB 2017 - APR 2018 <br />
                 Campell, CA <br />
                 <br />
                 YBVR exposed me to the startup culture in the Bay area. At YBVR I was responsible for implementing the client application using unity. For this we started with an app playing a single video to the final iteration of the app having the ability to dynamically load multiple videos. As they say, you get to wear multiple hats working at the startup. And this was exactly my experience at the startup. From attending feature planning meetings to sprint planning meetings, to developing the app to sometimes designs the UI, I got to understand the entire pipeline from development to production. <br />
          </div>
      </div><!-- .col-md-7 close -->
    </div>




    <div class="row">
      <!-- image section -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="../img/dwa.png" alt="Img">
        </div>
      </div> <!-- .col-md-5 close -->

     <!-- text section -->
      <div class="col-md-7 col-sm-12">
        <div class="block">
            <h4> Dreamworks Animation</h4>
                 R&D ANIMATION AND RIGGING INTERN | SEPT 2016 – DEC 2016 <br />
                 Glendale, CA <br />
                 <br />
                 YBVR exposed me to the startup culture in the Bay area. At YBVR I was responsible for implementing the client application using unity. For this we started with an app playing a single video to the final iteration of the app having the ability to dynamically load multiple videos. As they say, you get to wear multiple hats working at the startup. And this was exactly my experience at the startup. From attending feature planning meetings to sprint planning meetings, to developing the app to sometimes designs the UI, I got to understand the entire pipeline from development to production. <br />
          </div>
      </div><!-- .col-md-7 close -->
    </div>




    <div class="row">
      <!-- image section -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="../img/df.png" alt="Img">
        </div>
      </div> <!-- .col-md-5 close -->

     <!-- text section -->
      <div class="col-md-7 col-sm-12">
        <div class="block">
            <h4> University of Southern  California </h4>
                 MS, COMPUTER GRAPHICS  |  CLASS OF 2016 <br />
                 Los Angeles, CA <br />
                 <br />
                 YBVR exposed me to the startup culture in the Bay area. At YBVR I was responsible for implementing the client application using unity. For this we started with an app playing a single video to the final iteration of the app having the ability to dynamically load multiple videos. As they say, you get to wear multiple hats working at the startup. And this was exactly my experience at the startup. From attending feature planning meetings to sprint planning meetings, to developing the app to sometimes designs the UI, I got to understand the entire pipeline from development to production. <br />
          </div>
      </div><!-- .col-md-7 close -->
    </div>




  </div>
</section>
