<!-- section 2 Start -->

<section id="section-2">
  <div class="container">

    <div class="section-title">
      <h5 style="text-align:center">{{ .Site.Params.section2.title }}</h5>
    </br>
    </br>


    <div class="row">
      <!-- image section -->
        <div class="col-md-5">
           <div class="c01">
             <img src="../img/company-logos/fb.png" alt="Img">
           </div>
        </div> <!-- .col-md-5 close -->

     <!-- text section -->
      <div class="col-md-7">
        <div class="block">
            <h1> Digital Fish, Inc. |  Facebook </h1>
            <h2> EXPERIENCE ENGINEER |  MAY 2018 - PRESENT </h2>
            <h3> Menlo Park, CA </h3>
            <br />
            <p> While at Digital Fish, the first project I consulted on was an augmented reality project at Facebook, Building 8. I worked on the experience engineering team, which primarily worked on bridging the gap between the developers and designers by integrating the tech from the engineers and mock up’s from the designers and developing working prototypes of the experiences in Unity.  </p>
            <br />
        </div>
      </div><!-- .col-md-7 close -->
    </div>





    <div class="row">
      <!-- image section -->
      <div class="col-md-5">
        <div class="c02">
          <img src="../img/company-logos/ybvr.png" alt="Img">
        </div>
      </div> <!-- .col-md-5 close -->

     <!-- text section -->
      <div class="col-md-7">
        <div class="block">
            <h1> YBVR, Inc.</h1>
            <h2> VR SOFTWARE DEVELOPER |  FEB 2017 - APR 2018 </h2>
            <h3> Campell, CA </h3>
            <br />
            <p> YBVR exposed me to the startup culture in the Bay area. At YBVR I was responsible for implementing the client application using unity. For this we started with an app playing a single video to the final iteration of the app having the ability to dynamically load multiple videos. As they say, you get to wear multiple hats working at the startup. And this was exactly my experience at the startup. From attending feature planning meetings to sprint planning meetings, to developing the app to sometimes designing the UI, I got to understand the entire pipeline from development to production. </p>
            <br />
          </div>
      </div><!-- .col-md-7 close -->
    </div>




    <div class="row">
      <!-- image section -->
      <div class="col-md-5">
        <div class="c03">
          <img src="../img/company-logos/dwa.png" alt="Img">
        </div>
      </div> <!-- .col-md-5 close -->

     <!-- text section -->
      <div class="col-md-7">
        <div class="block">
            <h1> Dreamworks Animation</h1>
            <h2> R&D ANIMATION AND RIGGING INTERN | SEPT 2016 – DEC 2016 </h2>
            <h3> Glendale, CA </h3>
            <br />
            <p> Working at DreamWorks has been like the best 16 weeks of my journey so far. Apart from getting to work on their propritery animation software PREMO, I got to understand the entire animation production pipeline from concept to final rendering. It just got me fascinted and increased my respect for all the people who work on this medium. </p>
            <br />
          </div>
      </div><!-- .col-md-7 close -->
    </div>




    <div class="row">
      <!-- image section -->
      <div class="col-md-5">
        <div class="c04">
          <img src="../img/company-logos/usc.png" alt="Img">
        </div>
      </div> <!-- .col-md-5 close -->

     <!-- text section -->
      <div class="col-md-7">
        <div class="block">
            <h1> University of Southern  California </h1>
            <h2> MS, COMPUTER GRAPHICS  |  CLASS OF 2016 </h2>
            <h3> Los Angeles, CA </h3>
            <br />
            <p> USC is what got me interestd in computer graphics in the first place. Having enrolled into a course with a specialization in multimedia and creative technologies, I got to attend talks, seminars and workshops at the School of Cinematic Arts which propelled me to pursue a career in this field. </p>
            <br />
          </div>
      </div><!-- .col-md-7 close -->
    </div>




  </div>
</section>
