<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .Site.Params.section3.title }}</h2>
            <p style="text-align:justify">
              This is my process to approacing problems.[THIS CONTENT IS NOT FINAL]<br />
            </p>
            <h4> 1. Define the Problem </h4>
                 You can’t find a solution until you have a clear idea of what the problem is.
            <h4> 2. Collect Information <br /> </h4>
                 Collect sketches, take photographs and gather data to start giving you inspiration. <br />
            <h4> 3. Brainstorm and Analyze Ideas <br /> </h4>
                 Begin to sketch, make, and study so you can start to understand how all the data and information you’ve collected may impact your design. <br />
            <h4> 4. Develop Solutions <br /> </h4>
                 Take your preliminary ideas and form multiple small-scale design solutions.<br />
            <h4> 5. Gather Feedback <br /> </h4>
                 Present your ideas to as many people as possible: friends, teachers, professionals, and any others you trust to give insightful comments. <br />
            <h4> 6. Improve <br /> </h4>
                 Reflect on all of your feedback and decide if or to what extent it should be incorporated. It is often helpful to take solutions back through the Design Process to refine and clarify them.<br />
          </div>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.gif" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
