<!-- Section-4 Start -->

<section id="Section-4">
  <div class="container">
    <div class="row">

      <!-- Text section -->
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">

            <div class="row">
              <div class="col-md-3 col-sm-12">
                <img src="../img/s4.png" alt="Snow" style="width:100%">
              </div>
              <div class="col-md-3 col-sm-12">
                <img src="../img/s4.png" alt="Forest" style="width:100%">
              </div>
              <div class="col-md-3 col-sm-12">
                <img src="../img/s4.png" alt="Mountains" style="width:100%">
              </div>
              <div class="col-md-3 col-sm-12">
                <img src="../img/s4.png" alt="Mountains" style="width:100%">
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 col-sm-12">
                <img src="../img/s4.png" alt="Snow" style="width:100%">
              </div>
              <div class="col-md-3 col-sm-12">
                <img src="../img/s4.png" alt="Forest" style="width:100%">
              </div>
              <div class="col-md-3 col-sm-12">
                <img src="../img/s4.png" alt="Mountains" style="width:100%">
              </div>
              <div class="col-md-3 col-sm-12">
                <img src="../img/s4.png" alt="Mountains" style="width:100%">
              </div>
            </div>

          </div>
        </div>
      </div><!-- .col-md-7 close -->

    </div>
  </div>
</section>
