<!--Global header section -->
<!--{{ partial "global-header.html" . }}-->

<!-- Service Start -->
<section id="skills">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Data.skills.title }}</h2>
        <p>{{ .Site.Data.skills.subtitle }}</p>
      </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <img class="skills-img" src="img/misc/all-characters.png" alt="Img">
        </div>
    </div>


   <!--Content
    <div class="row">
      {{ range .Site.Data.skills.content }}
      <div class="col-sm-6 col-md-3">
        <div class="skills-item">
          <img src="{{ $.Site.BaseURL }}{{ .img }}" alt="">
           // comment this <i class="{{ .icon }}"></i>
          <h4>{{ .name }}</h4>
          <p>{{ .text }}</p>
        </div>
      </div>
      {{ end }}
    </div>-->


  </div>
</section>
