<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <!-- Header -->
    <div class="row">
      <div class="section-title text-center">
        <h2>{{ .Site.Data.testimonial.title }}</h2>
        <p>{{ .Site.Data.testimonial.paragraph }}</p>
      </div>
    </div>

      <div class="col-md-12">
          <!-- Content -->
          <ul class="counter-box clearfix">
            {{ range .Site.Data.testimonial.numbers }}
            <li>
                <i class="{{ .icon }}"></i>
                <h4 class="counter">{{ .counter }}</h4>
                <span>{{ .text }}</span>
            </li>
            {{ end }}
          </ul>
      </div>



  </div>
</section>
